@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loadinger {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(1);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  font-family: "Shrikhand", cursive;
}
header img {
  width: 100%;
  height: 300px;
  display: block;
  position: relative;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  header img {
    height: 500px;
  }
}
@media screen and (min-width: 992px) {
  header img {
    height: 600px;
  }
}

nav {
  padding: 10px;
  background-color: #e6e6e6;
  border-top: 2px solid gray;
}
nav form {
  text-align: center;
  margin: auto;
  width: 90%;
}
nav form input {
  background-color: #e6e6e6;
  border: none;
  font-size: 18px;
  width: 150px;
  margin-left: 10px;
  padding: 5px;
}
nav form input::placeholder {
  color: black;
}

.bloc__presentation {
  text-align: center;
  background-color: #f3f3f3;
  font-family: "Roboto", cursive;
  margin-bottom: 40px;
  padding-bottom: 50px;
}
.bloc__presentation__title {
  padding-top: 30px;
  width: 50%;
  margin: auto;
}
.bloc__presentation__subtitle {
  padding-top: 15px;
  font-weight: lighter;
  color: #4d4d4d;
  width: 75%;
  margin: auto;
  padding-bottom: 20px;
}
.bloc__presentation__btn {
  width: 250px;
  margin: auto;
  display: block;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 20px;
  color: white;
  border: none;
  border-radius: 35px;
  font-size: 18px;
  box-shadow: 0px 0px 10px 4px rgba(211, 211, 211, 0.67);
  text-decoration: none;
}
.bloc__presentation__btn:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 0px 10px 8px rgba(211, 211, 211, 0.67);
}

.bloc__fonction {
  font-family: "Roboto", cursive;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.bloc__fonction__title {
  margin-left: 20px;
  width: 100%;
}
.bloc__fonction__slide {
  display: flex;
  align-items: center;
  padding: 23px;
  background-color: #f3f3f3;
  margin-bottom: 20px;
  width: 75%;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 4px rgba(211, 211, 211, 0.67);
}
@media screen and (min-width: 992px) {
  .bloc__fonction__slide {
    width: 30%;
  }
}
.bloc__fonction__slide:hover {
  background-color: #e4d5f6;
}
.bloc__fonction__slide:hover .bloc__fonction__slide__logo {
  color: #9356DC;
}
.bloc__fonction__slide__number {
  background-color: #9356DC;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: -40px;
}
.bloc__fonction__slide__logo {
  padding: 5px;
  margin: 0 15px;
  color: #4d4d4d;
}
.bloc__fonction__slide__logo__phone {
  font-size: 26px;
}
.bloc__fonction__slide__logo__list {
  font-size: 20px;
}
.bloc__fonction__slide__logo__market {
  font-size: 18px;
}
.bloc__fonction__slide__title {
  width: 75%;
  margin: auto;
}

.bloc__restaurants {
  font-family: "Roboto", cursive;
  background-color: #e6e6e6;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.bloc__restaurants__title {
  margin-left: 20px;
  margin-bottom: 30px;
  padding-top: 50px;
  width: 100%;
}
.bloc__restaurants__cards {
  position: relative;
  width: 90%;
  margin: 20px auto;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 0px 10px 4px rgba(211, 211, 211, 0.67);
}
@media screen and (min-width: 768px) {
  .bloc__restaurants__cards {
    width: 46%;
  }
}
.bloc__restaurants__cards__link {
  display: block;
  text-decoration: none;
  color: black;
}
.bloc__restaurants__cards__img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 25px 25px 0 0;
}
.bloc__restaurants__cards__new {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #278870;
  background-color: #99E2D0;
  padding: 5px 10px;
  border-radius: 5px;
}
.bloc__restaurants__cards__description {
  padding: 20px;
}
.bloc__restaurants__cards__description h3 {
  margin-bottom: 5px;
}
.bloc__restaurants__cards__checkbox {
  position: absolute;
  bottom: 32px;
  right: 24px;
}
.bloc__restaurants__cards__checkbox input[type=checkbox] {
  position: absolute;
  width: 31px;
  height: 31px;
  z-index: 3;
  opacity: 0;
}
.bloc__restaurants__cards__checkbox input[type=checkbox]:hover {
  cursor: pointer;
}
.bloc__restaurants__cards__heart {
  font-size: 31px;
}
.bloc__restaurants__cards__heart__animate {
  position: absolute;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition-duration: 0.5s;
}

footer {
  background-color: #332e2e;
  color: white;
  padding: 20px;
  font-family: "Roboto", cursive;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  padding: 5px;
}
footer ul {
  list-style: none;
  padding: 5px;
}
footer .bold {
  font-weight: bolder;
}
footer li {
  padding: 5px 0;
}
footer li a {
  text-decoration: none;
  color: inherit;
}
footer .marg-right {
  margin-right: 10px;
}
footer .marg-right1 {
  margin-right: 4px;
}

.restaurant {
  display: flex;
  padding-top: 10px;
}
.restaurant__arrow {
  font-size: 26px;
  padding: 10px;
}
.restaurant__link {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}
.restaurant__title {
  justify-items: center;
  width: 100%;
  margin-right: 43px;
}

main {
  background-color: #f3f3f3;
  border-radius: 25px 25px 0 0;
  margin-top: -20px;
  padding-bottom: 100px;
}
@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media screen and (min-width: 768px) {
  .main {
    width: 100%;
  }
}
.main__title {
  font-family: "Shrikhand", cursive;
  padding: 20px;
}
.main__checkbox {
  position: relative;
}
.main__checkbox input[type=checkbox] {
  position: absolute;
  top: -2px;
  right: 18px;
  width: 36px;
  height: 34px;
  opacity: 0;
  z-index: 3;
}
.main__checkbox input[type=checkbox]:hover {
  cursor: pointer;
}
.main__heart {
  font-size: 31px;
  margin-right: 20px;
}
.main__heart__animate {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 31px;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition-duration: 0.5s;
}

.menu {
  font-family: "Roboto", cursive;
}
.menu__title {
  padding: 20px;
  font-weight: lighter;
  text-transform: uppercase;
}
.menu__underline {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}
.menu__choice {
  padding: 20px;
}
.menu__choice .animation-menu-1 {
  animation: appear 1s 500ms both;
}
.menu__choice .animation-menu-2 {
  animation: appear 1s 750ms both;
}
.menu__choice .animation-menu-3 {
  animation: appear 1s 1000ms both;
}
.menu__choice .animation-menu-4 {
  animation: appear 1s 1250ms both;
}
.menu__choice__slide {
  overflow: hidden;
  width: 375px;
  max-width: 100%;
  position: relative;
  background-color: white;
  border-radius: 10px;
  display: flex;
  margin: 20px auto;
  box-shadow: 0px 0px 10px 4px rgba(211, 211, 211, 0.67);
}
.menu__choice__slide input[type=radio] {
  appearance: none;
  width: 100%;
  position: absolute;
  cursor: pointer;
  height: 100%;
  top: 0;
  left: 0;
}
.menu__choice__slide__contenair {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.menu__choice__slide__contenair__description {
  overflow: hidden;
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}
.menu__choice__slide__contenair__description__title {
  overflow: hidden;
}
.menu__choice__slide__contenair__description__title h3 {
  margin-bottom: 10px;
}
.menu__choice__slide__contenair__description__title p {
  font-weight: lighter;
}
.menu__choice__slide__contenair__description__title > * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
.menu__choice__slide__contenair__description__price {
  align-self: flex-end;
  padding-right: 10px;
}
.menu__choice__slide__contenair__validate {
  width: 7rem;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -7rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  border-radius: 0 10px 10px 0;
}
.menu__choice__slide__contenair__validate > i {
  color: #99e2d0;
  padding: 0.5rem;
  border-radius: 50%;
  background: white;
  transition-duration: 0.5s;
}
.menu__button__main {
  width: 100%;
  text-align: center;
}
.menu__button__main__link {
  display: block;
  margin: auto;
  width: 250px;
  text-decoration: none;
  border: none;
  font-size: 22px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 35px;
  padding: 15px;
  box-shadow: 0px 0px 10px 4px rgba(211, 211, 211, 0.67);
}
.menu__button__main__link:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 0px 10px 8px rgba(211, 211, 211, 0.67);
}

input:checked ~ .far {
  transition-duration: 0.5s;
  opacity: 0;
}

input:checked ~ .fas {
  transition-duration: 0.5s;
  opacity: 1;
}

input:checked ~ .menu__choice__slide__contenair .menu__choice__slide__contenair__validate {
  margin-right: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

input:checked ~ .menu__choice__slide__contenair i {
  margin-right: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transform: rotate(360deg);
}

.loadcontent {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF80;
  animation: loadinger 0.1s;
  animation-delay: 2.9s;
  animation-fill-mode: both;
}

.loading {
  border: 5px solid #9356DC;
  border-top: 5px solid #99E2D0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: loading 1s ease-in-out;
  animation-iteration-count: 3;
}

/*# sourceMappingURL=style.css.map */
